.scroll-button1 {
    font-family: Proxima Bol;
    font-size: 1.16vw;
    font-weight: 700;
    line-height: 1.67vw;
    cursor: pointer;
    color: rgba(255, 203, 111, 1);
    border: none;
    background-color: white;
    margin-bottom: 0.72vw; 
    text-decoration: underline;

  }
  /* Add this CSS to your existing styles */
.button-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-top: 52vw;
    margin-right: 1vw;
    gap:6.01vw;
  }
  .arrowbutton
  {
    width: 1.81vw;
    height: 1.81vw;
}
#coolerb1
{
    position: absolute;
    width: 8.33vw;
  height: 2.1vw;
  top: 51.3vw;
  left: 2.17vw;
}
#coolerb2
{
    position: absolute;
    width: 34.93vw;
  height: 2.1vw;
  top: 65.8vw;
  left: 2.17vw;

}
#coolerb3
{
    position: absolute;
    width: 26.81vw;
  height: 2.1vw;
  top: 110.58vw;
  left: 2.17vw;

}
#coolerb4
{
    position: absolute;
    width: 15.22vw;
  height: 2.1vw;
  top: 178.84vw;
  left: 2.17vw;
}
#coolerb5
{
    position: absolute;
    width: 19.35vw;
  height: 2.1vw;
  top: 196.96vw;
  left: 2.17vw;

}
#coolerb6
{
    position: absolute;
    width: 14.28vw;
  height: 2.1vw;
  top: 291.88vw;
  left: 2.17vw;

}
#coolerb7
{
    position: absolute;
    width: 14.57vw;
  height: 2.1vw;
  top: 352.75vw;

}