.scroll-button1 {
    font-family: Proxima Bol;
    font-size: 1.16vw;
    font-weight: 700;
    line-height: 1.67vw;
    cursor: pointer;
    color: rgba(255, 203, 111, 1);
    border: none;
    background-color: white;
    margin-bottom: 0.72vw; 
    text-decoration: underline;
   

  }
  /* Add this CSS to your existing styles */
.button-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-top: 52vw;
    margin-right: 1vw;
    gap:6.01vw;
  }
  .arrowbutton
  {
    width: 1.81vw;
    height: 1.81vw;
}
#walkerb1
{
    position: absolute;
    width: 11.88vw;
  height: 2.1vw;
  top: 51.3vw;
  left: 2.17vw;
}
#walkerb2
{
    position: absolute;
    width: 25.36vw;
  height: 2.1vw;
  top: 97.68vw;
  left: 2.17vw;
}
#walkerb3
{
    position: absolute;
  width: 27.25vw;
height: 2.1vw;
top: 192.61vw;
left: 2.17vw;
}
#walkerb4
{
    position: absolute;
    width: 6.23vw;
    height: 2.1vw;
    top: 301.3vw;
    left: 2.17vw;
    
}
#walkerb5
{
    position: absolute;
    width: 10.58vw;
    height: 2.1vw;
    top: 333.19vw;
    left: 2.17vw;
}
